asgiref
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
gunicorn
idna
packaging
pillow
PyJWT
requests
sqlparse
tzdata
urllib3
dj-database-url
psycopg2-binary
dotenv